body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: #fff;
    overflow: hidden;
    
}
.main{
    display:flex;
    height:100vh;
    padding:0.5rem;
}

.sidebar{
    background-color:#000;
    width:340px;
    border-radius: 1rem; /* 1rem=16px*/
    margin-right: 0.5rem;
    
}

.main-content{
    background-color: #121212;
    flex:1;/*takes all the remaining width-- flex container k andar k  sare div ko hta kar sari bachi huyi jgh ye div carry karega */
    border-radius: 1rem;
    overflow: auto;/* scroll bar only visible when needed*/
    padding:0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    height:72px;
    width:100%  /*occupies the width of parent*/
}
a{
    text-decoration: none;
    color:white
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding:0.5rem 0.75rem;
}
.nav-option{
line-height: 2.5rem; /*how much area a line occupies*/
opacity: 0.7;
padding :0.5rem 0.75rem;
}

.nav-option:hover{
    opacity:1;

}

.nav-option i{
    font-size: 1rem;
    
}

.nav-option a{
    font-size: 1rem;
    margin-left:1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display:flex;  /*by default--row*/
    justify-content: space-between;
    align-items: center;/*for aligning vertically;*/
}

.lib-option img{
    height:1.25rem;
    width:1.25rem;
}

.icons{
    font-size: 1.25rem;
    opacity: 0.7;
    margin-right: 1rem;
    display: flex;


}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.box{
    background-color: #232323;
    height:8rem;
    border-radius: 0.5rem;
    margin: 0.75rem 0 1.75rem 0; /* top right bottom left*/
    padding:0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.box-p2{
    font-size: 0.75rem;
    opacity:0.9;
}
.badge{
    background-color: #fff;
    border:none;
    border-radius:100px;
    padding:0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height:2rem;
    width:fit-content;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display:flex;
    justify-content: space-between;
    align-items: center;  /* for aligning items vertically*/
    padding:1rem 0 1rem 0;/*top left bottom right*/
    z-index: 10; /* will overlap all other contents*/
}

.sticky-nav-icons {
    margin-left: 0.75rem;
   
}
.sticky-nav-options{
    display:flex;
    justify-content:center;
    align-items:center;
   

}
.sticky-nav-options button{
    margin-right:1rem;
}
.nav-item{
    margin-right: 1rem;
}
.dark-badge{
    background-color: #000;
    color:white;
}
@media (max-width:1000px) {
    .hide{
        display:none;
    }
    
}
.card{
    background-color: #232232;
    width:200px;
    border-radius: 0.5rem;
    padding:1rem; /* padding is for  inner(spacing with child)*/
    margin-left:1.5rem;
    margin-top: 1rem;
}
.cards-container{
    display:flex;
    flex-wrap:wrap; /* to wrap the cards when exceeded to particular width in a row */
}
.card-img{
    width:100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;

}
.card-info{
    font-size: 0.85rem;
    opacity:0.5;
}
.footer{
    height:300px;
    display:flex;
    align-items: center;  /* for line at center*/
    justify-content: center;

}
.line{
    width:90%;
    height:30%;  /* as height will increase the line will move upward bcoz  of height of div */
    border-top: 1px solid white;
    opacity:0.4;


}
.music-player{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.album{
    width:25%;

}
.player{
    width:50%;
}
.control{
    width:25%;
}
.player-controls{
    display:flex;
    justify-content:center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity:0.7;
}
.player-control-icon:hover{
    opacity:1;
}
.playback-bar{
    display:flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width:70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{/*pseudo element for track*/
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb /* pseudo element for thumb in bar*/{
    appearance: none;
    height: 1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px; /*negative-margin--shifts upwards*/

}
.album{


     display:flex;
    align-items: center;
   
    
}
.play{
    padding-left: -30px;
    
}


.p-one{
   
    
    position: relative;
    font-weight: 600;
    font-size: 15px;
    top:10px;
    left:10px;
   
   
}
.p-two{
    position:relative;
    bottom:10px;
    left:8px;
    opacity:0.5;
    font-size: 12px;
    /* margin-left:10px ;
    margin-bottom: 60px; */
  
}
.para{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    
}
.control{
    display:flex;
  

  
    
    justify-content: space-evenly;
    
  


}
.ic{
    display:flex;
    height: 1.75rem;
    margin-right: 7px;
    padding-left: 9px;
    
}
.icons{
display:flex;
margin-left: 3rem;
opacity:0.75;
font-size: 15px;

}
.control-2{
    width: 3rem;
    margin-right: 9rem;
    margin-top: -6px;
    
    

  
}
.control-bar::-webkit-slider-runnable-track{
    appearance: none;
    background-color:#ddd;
    border-radius: 100px;
    height: 0.25rem;
  
   
    


}
.control-bar::-webkit-slider-thumb /* pseudo element for thumb in bar*/{
    appearance: none;
    visibility: hidden;
    
  
}
@media (max-width:1120px) {
    .control-2{
        display: none;
    }
    
}
